<!--theming-->
<div>
  <!--app-container-->
  <div id="app-container"
       gdAreas="header | content | footer"
       gdGap="1rem"
       gdRows="auto">

    <!--core/header-->
    <div id="header-grid"
         gdArea="header">
      <app-header></app-header>
    </div>

    <!--router/content-->
    <div id="content-grid"
         gdArea="content">
      <app-content fxFlexAlign="center center"></app-content>
    </div>

    <!--core/footer-->
    <div id="footer-grid"
         gdArea="footer"
         gdGridAlign="stretch end">
      <app-footer></app-footer>
    </div>

  </div>
</div>
