<div class="container">
  <nav class="toolbar navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">COVID 19 Map</span>

    <div ngbRadioGroup
         name="radioTypeInfo"
         class="radio-group btn-group btn-group-toggle"
         [ngModel]="typeInfoState | async">

      <label ngbButtonLabel class="btn-outline-warning">
        <input ngbButton type="radio" (click)="onClick(HOSP_BTN.enum)" [value]="HOSP_BTN.enum">
        <fa-icon [icon]="faHospitalUser"></fa-icon>
        <span> {{HOSP_BTN.text}}</span>
      </label>

      <label ngbButtonLabel class="btn-outline-danger">
        <input ngbButton type="radio" (click)="onClick(REA_BTN.enum)" [value]="REA_BTN.enum">
        <fa-icon [icon]="faProcedures"></fa-icon>
        <span> {{REA_BTN.text}}</span>
      </label>

      <label ngbButtonLabel class="btn-outline-success">
        <input ngbButton type="radio" (click)="onClick(RAD_BTN.enum)" [value]="RAD_BTN.enum">
        <fa-icon [icon]="faSmile"></fa-icon>
        <span> {{RAD_BTN.text}}</span>
      </label>

      <label ngbButtonLabel class="btn-outline-dark">
        <input ngbButton type="radio" (click)="onClick(DC_BTN.enum)" [value]="DC_BTN.enum">
        <fa-icon [icon]="faDizzy"></fa-icon>
        <span> {{DC_BTN.text}}</span>
      </label>

    </div>

  </nav>
</div>
