<header class="header navbar navbar-light bg-light">
  <div class="container-fluid flex-column flex-md-row pr-0">

    <div class="navbar-brand mr-md-2 mr-0 dark-gray">
      <fa-icon [icon]="faGlobalEurope"></fa-icon>
      <span> Covid-19 Map</span>
    </div><!--Brand-->

    <div class="navbar-nav flex-row mx-md-auto"><!--Radio Button Group-->
      <div ngbRadioGroup
           name="radioTypeInfo"
           class="radio-group btn-group btn-group-toggle"
           [ngModel]="typeInfoState | async">

        <label ngbButtonLabel class="btn-outline-warning flex-row"><!--Hospital-->
          <input ngbButton type="radio" (click)="onClick(HOSP_BTN.enum)" [value]="HOSP_BTN.enum">
          <fa-icon [icon]="faHospitalUser" class="d-inline"></fa-icon>
          <span class="d-none d-md-inline"> {{HOSP_BTN.text}}</span>
        </label>

        <label ngbButtonLabel class="btn-outline-danger flex-row"><!--Reanimation-->
          <input ngbButton type="radio" (click)="onClick(REA_BTN.enum)" [value]="REA_BTN.enum"/>
          <fa-icon [icon]="faProcedures" class="d-inline"></fa-icon>
          <span class="d-none d-md-inline"> {{REA_BTN.text}}</span>
        </label>

        <label ngbButtonLabel class="btn-outline-success flex-row"><!--Recovered-->
          <input ngbButton type="radio" (click)="onClick(RAD_BTN.enum)" [value]="RAD_BTN.enum">
          <fa-icon [icon]="faSmile" class="d-inline"></fa-icon>
          <span class="d-none d-md-inline"> {{RAD_BTN.text}}</span>
        </label>

        <label ngbButtonLabel class="btn-outline-dark flex-row"><!--Deaths-->
          <input ngbButton type="radio" (click)="onClick(DC_BTN.enum)" [value]="DC_BTN.enum">
          <fa-icon [icon]="faDizzy" class="d-inline"></fa-icon>
          <span class="d-none d-md-inline"> {{DC_BTN.text}}</span>
        </label>

      </div>
    </div>

    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex align-items-center dark-gray"><!--Social Buttons-->

      <a href="https://github.com/aubique/covid.git"
         rel="noopener"
         target="_blank"
         class="mx-1 order-2">
        <fa-icon [icon]="faGithub">
        </fa-icon>
      </a>

      <a href="https://geodes.santepubliquefrance.fr/#c=news"
         rel="noopener"
         target="_blank"
         class="mx-1 order-1">
        <fa-icon [icon]="faFileAlt">
        </fa-icon>
      </a>

    </div>

  </div>
</header>
